// ---------------------------------------------------------------------------------------------------------------
// БАЗОВА ПАЛІТРА КОЛЬОРІВ ДЛЯ САЙТУ -- необхідно підключати, якщо є бажання виносити палітру кольорів окремо.
// ---------------------------------------------------------------------------------------------------------------

$orange: #F55F39;
$green: #2BCA8B;
$darkBlue: #352F77;
$textBlue: #252061;
$lightGray: #B8BDC9;



// ---------------------------------------------------------------------------------------------------------------
