//--------------------------Налаштування теми для проектів--------------------------
// Перед початком проекту, потрібно розібрати макет на: кольори, шрифти, розміри, стилізацію, геометрію макету, і внести потрібні данні у змінні.
// Звичайно тему не підготуєш під усі випадки, проте можна підготувати те що необхідне для більшості сайтів.
// Розробив - andreyk1n.
// ---------------------------------------------------------------------------------------------------------------

// hours:min:sec
// 05:35:00

// ---------------------------------------------------------------------------------------------------------------
//---ШРИФТИ---
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// Основне сімейство шрифтів проекту
$fontFamily: "Poppins", sans-serif;

// Початковий розмір шрифтів
$fontSize: 14px;
// ---------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------
// Основний фоновий колір для <body>
$bgColor: white;
// ---------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------
// Тривалість переходу (transition-duration) <- рекомендую використовувати якусь одну для всього проекту
$transitionDuration: .8s;
// ---------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------
//---КОЛЬОРИ---
// Стандартний колір шрифтів
$fontColor: #444444;

//---Кольори для посиланнь---
// Стандартний колір посиланнь
$linkColor: #222222;

// Колір при наведені на посилання
$linkHoverColor: $orange;

// Активний колір при кліку
$activeColor: green;

// Базова тінь
$boxShadow: 0 4px 8px rgba(0, 0, 0, 0.1);
// ---------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------
// ---ВНУТРІШНІ ВІДСТУПИ----
// Внутрішній малий відступ
$paddingSmall: 5px;

// Внутрішній середній відступ
$paddingMedium: 15px;

// Внутрішній великий відступ
$paddingLarge: 30px;
// ---------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------
//---РОЗМІР І ВАГА ЗАГАВОЛОВКІВ---
// Розмір для тегу h1
$h1FontSize: 40px;

// Розмір для тегу h2
$h2FontSize: 28px;

// Розмір для тегу h3
$h3FontSize: 20px;

// Стандартний font-weight
$mainFontWeight: 400;

// Вага шрифта для h1
$h1FontWeight: 900;

// Вага шрифта для h2
$h2FontWeight: 800;

// Вага шрифта для h3
$h3FontWeight: 700;
// ---------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------
//---Налаштування стилів кнопки з класом .button---
// Фоновий колір кнопки
$buttonBgColor: #2BCA8B;

// Колір шрифта на кнопці
$buttonFontColor: white;

// Внутрішні відступи у кнопці --- краще застосовувати запис у скороченому форматі
$buttonPaddings: 15px 25px;

// Заокруглення кнопки
$buttonBorderRadius: 0px;

// Колір при наведенні на кнопку
$buttonHover: #F55F39;

// Колір при кліку на кнопку
$buttonActive: #F55F39;
// ---------------------------------------------------------------------------------------------------------------


// ---------------------------------------------------------------------------------------------------------------
//---Максимальна довжина обмежуючого контейнера---
// Обмежуючий контейнер - це контейнер з класом .container - призначений для рівної геометрії сайту
$maxWidthContainer: 1170px;

// Стандартні паддінги (внутрішні відступи) в контейнері
$paddingContainer: 15px;
// ---------------------------------------------------------------------------------------------------------------


// ---------------------------------------------------------------------------------------------------------------
//---АДАПТИВ---
// Мобільний мікро брекпоїнт 320рх
$mobileMicro: 320px;

// Мобільний малий брекпоїнт менше 478рх
$mobileSmall: 478px;

// Мобільний середній брекпоїнт менше 576рх
$mobileMedium: 576px;

// Мобільний великий розмір менше 768рх
$mobileLarge: 768px;

// Планшет розмір до 992рх
$tablet: 992px;

// Декстоп малий до 1200рх
$desktopSmall: 1200px;

// Декстоп середній до 1440рх
$desktopMedium: 1440px;

// Декстоп великий від 1440рх
$desktopBig: 1400px;
// ---------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------
//--------------------------Використання базових стилів із попередніх налаштуваннь--------------------------

// Онулення стилів
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: $fontSize;
}

body {
    overflow-x: hidden;
    background-color: $bgColor;
    color: $fontColor;
    font-family: $fontFamily;
    font-weight: $mainFontWeight;
}

// Обмежуючий контейнер - цей контейнер часто зустрічається в проектах, якщо сайт має певну геометрію.
.container {
    max-width: $maxWidthContainer;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px
}

// Застосування стилів для посилання: колір, час анімації, активний стан.
a {
    text-transform: uppercase;
    color: $linkColor;
    text-decoration: none;
    transition-duration: $transitionDuration;
}

a:hover {
    color: $linkHoverColor;
}

a:active {
    color: $activeColor;
}

// Застосування стилів для кнопкки з класом .button
.button {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $buttonBgColor;
    transition-duration: $transitionDuration;
    color: $buttonFontColor;
    padding: $buttonPaddings;
    border-radius: $buttonBorderRadius;
    cursor: pointer;
    border: 0;
    outline: 0;
}

.button:hover {
    background-color: $buttonHover;
}

.button.orange {
    background-color: $buttonHover;
}
.button.orange:hover {
    background-color: $buttonBgColor;
}

.button:active {
    background-color: $buttonActive;
}


// Розміра для основних тайтлів h1-h3, адаптив шрифта розрахуовується формулою (розмір шрифта - (розмір шрифта / n); n - можна налаштовувати під себе, як вам заманеться, формулу замінювати теж.

h1 {
    @include adaptiveValue('font-size', 48px, 28px);
}

h2 {
    @include adaptiveValue('font-size', 36px, 20px);
}

h3 {
    @include adaptiveValue('font-size', 30px, 18px);
}


// Базові стилі для контейнера сторінки
html {
    line-height: 1.5;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include adaptiveValue('gap', 100px, 50px);
}

.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 0;
}

// Загальні стилі для списків
// ol {
//     padding-left: 20px;
//     li:not(:last-child) {
//         padding-bottom: 15px;
//     }
// }

// ul {
//     padding-left: 20px;
//     li:not(:last-child) {
//         padding-bottom: 15px;
//     }
// }
// ---------------------------------------------------------------------------------------------------------------
// Розробив - andreyk1n.
